a{
    text-decoration: none;
}

a:active{
    color: green;
}
a:visited{
    color: red;
 }
a:hover{

color: royalblue;

}

 ul li{ 
    margin-right: 20px;
    display: inline;

 }
 

 ol{
    list-style-type: lower-roman;
 }
span{
    display: block;
}

body{

    background-color: bisque;
}